/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #000;
}

/* BACKGROUND */
.background {
    width: 100%;
    height: 100%;
    background: #0d47a1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* LOGIN CONTAINER */
.login-container {
    width: 320px;
    text-align: center;
    z-index: 10;

}

/* LOGO */
.logo {
    width: 140px;
    margin-bottom: 8px;
}

.employee-text {
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    opacity: 0.7;
}

/* INPUT BOXES */
.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #b0c4de;
    border-radius: 4px;
    font-size: 14px;
}

/* LOGIN BUTTON */
.login-box button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    opacity: 0.9;
}

/* FORGOT PASSWORD */
.forgot-link {
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    color: white;
    opacity: 0.8;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}